@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);





#dropdown-menu-2btn-p .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-p .navbar-brand a {
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;
}
#dropdown-menu-2btn-p .nav .link,
#dropdown-menu-2btn-p .dropdown-item {
  font-size: 1.2em;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
}
#dropdown-menu-2btn-p .navbar,
#dropdown-menu-2btn-p .dropdown-menu {
  background: #cfeff6;
}
#dropdown-menu-2btn-p .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-p .dropdown-menu a:hover,
#dropdown-menu-2btn-p .dropdown-menu a:focus {
  background: #bee9f3;
}
#dropdown-menu-2btn-p .navbar-toggler {
  color: #000000;
}
#header1-f H1 {
  font-size: 46px;
  font-family: 'PT Sans', sans-serif;
  text-align: left;
}
#header1-f P {
  color: #fafafa;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
}
#header1-f SPAN {
  font-family: 'Open Sans', sans-serif;
}




#dropdown-menu-2btn-p .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-p .navbar-brand a {
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;
}
#dropdown-menu-2btn-p .nav .link,
#dropdown-menu-2btn-p .dropdown-item {
  font-size: 1.2em;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
}
#dropdown-menu-2btn-p .navbar,
#dropdown-menu-2btn-p .dropdown-menu {
  background: #cfeff6;
}
#dropdown-menu-2btn-p .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-p .dropdown-menu a:hover,
#dropdown-menu-2btn-p .dropdown-menu a:focus {
  background: #bee9f3;
}
#dropdown-menu-2btn-p .navbar-toggler {
  color: #000000;
}
#content5-w .mbr-section-title {
  font-size: 36px;
}
#content5-w .mbr-section-title B {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
}
#content5-w P {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
#social-buttons2-t .mbr-section-title {
  font-size: 24px;
}




#dropdown-menu-2btn-x .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-x .navbar-brand a {
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;
}
#dropdown-menu-2btn-x .nav .link,
#dropdown-menu-2btn-x .dropdown-item {
  font-size: 1.2em;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
}
#dropdown-menu-2btn-x .navbar,
#dropdown-menu-2btn-x .dropdown-menu {
  background: #cfeff6;
}
#dropdown-menu-2btn-x .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-x .dropdown-menu a:hover,
#dropdown-menu-2btn-x .dropdown-menu a:focus {
  background: #bee9f3;
}
#dropdown-menu-2btn-x .navbar-toggler {
  color: #000000;
}
#form1-z .mbr-section-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  text-align: right;
}
#form1-z .mbr-section-title B {
  text-align: left;
}
#form1-z .btn {
  font-family: 'Open Sans', sans-serif;
}




#dropdown-menu-2btn-10 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-10 .navbar-brand a {
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;
}
#dropdown-menu-2btn-10 .nav .link,
#dropdown-menu-2btn-10 .dropdown-item {
  font-size: 1.2em;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
}
#dropdown-menu-2btn-10 .navbar,
#dropdown-menu-2btn-10 .dropdown-menu {
  background: #cfeff6;
}
#dropdown-menu-2btn-10 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-10 .dropdown-menu a:hover,
#dropdown-menu-2btn-10 .dropdown-menu a:focus {
  background: #bee9f3;
}
#dropdown-menu-2btn-10 .navbar-toggler {
  color: #000000;
}
#content5-16 .mbr-section-title {
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
}
#content5-16 P {
  font-family: 'Open Sans', sans-serif;
}
